body{
    background-color: rgb(255, 145, 0);
}
.intro{
    padding-top: 20px;
}

intro{
    display: block;
}

.imagem-1{
    position: relative;
    width: 600px;
}

.modo-de-preparo{
    width: 600px;
    justify-content: center;
    align-items: center;
}
.imagem-2{
    width: 600px;
}